html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	color: dimgray;
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

// this is the root _next node
body > div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}

main {
	text-align: center;
}

main h1 {
	text-transform: capitalize;
	font-size: 2.5em;
}

main p {
	font-size: 1.7em;
}
footer {
	display: flex;
	justify-content: center;
}

.footer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	color: dimgray;
	text-decoration: none;
}

.icons {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	width: 80%;
}
